* {
  margin: 0px;
  padding: 0px;
}

::selection {
  background: #ffdc00;
}

:link {
  transition: 0.2s ease-in-out;
  color: #444452;
  text-decoration: none;
  box-shadow: inset 0 -3px 0 #007bff;
  padding: 2px 3px;
}

:link:visited {
  color: #444452;
}

:link:hover {
  transition: 0.2s ease-in-out;
  color: white;
  box-shadow: inset 0 -50px 0 #007bff;
}

.emoji {
  display: inline-block;
  padding: 0px 5px;
}

.wave:hover {
  animation: wave 1s ease-in-out;
  cursor: pointer;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.point:hover {
  animation: point 0.5s ease-in-out;
  cursor: pointer;
}

@keyframes point {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0px);
  }
}

html {
  font-family: 'Source Sans 3', sans-serif;
  color: #444452;
  line-height: 1.5;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 120px 100px;
  height: 100vh;
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
  line-height: 60px;
}

header > h1,
header > h2 {
  font-size: 2.5rem;
  max-width: 700px;
  font-weight: normal;
}

header > h3 {
  font-size: 1.25rem;
  font-weight: normal;
}

strong {
  font-weight: 700;
  color: #36363c;
}
